# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
vir1/
virt/
vir/
.venv/

# Environment variables
.env

# Streamlit cache
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/